{% extends 'fos.layout.html.twig' %}

{% block fos_user_content %}
  <div class="login--form">
    <form action="{{ path("fos_user_security_check") }}" method="post"
          role="form">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

      <div class="login--name">
        <label for="username">Brugernavn</label>
        <input type="text" class="login--name-input" id="username"
               name="_username" value="{{ last_username }}"
               required="required" placeholder="Brugernavn" autofocus/>
      </div>

      <div class="login--pass">
        <label for="password">Kodeord</label>
        <input type="password" class="login--pass-input" id="password"
               name="_password" required="required"
               placeholder="Kodeord"/>
      </div>
      {% if error %}
        <div class="login--alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
      {% endif %}

      <input type="submit" id="_submit" name="_submit" class="login--submit"
             value="{{ 'Login'|trans({}, 'FOSUserBundle') }}"/>

      <div class="login--remember-me">
        <input type="checkbox" id="remember_me"
               class="login--remember-me-checkbox" name="_remember_me"
               value="on"/>
        <label for="remember_me"
               class="login--remember-me-label">Husk mig</label>
      </div>
    </form>
  </div>
  <div class="login--problem">
    <p class="login--content-list-header">Problemer med at logge ind?</p>
    <ul class="login--content-list">
      <li><a
            href="{{ path('fos_user_resetting_request') }}">Jeg har glemt mit brugernavn eller kodeord.</a>
      </li>
    </ul>
  </div>
{% endblock %}
