{% extends 'IndholdskanalenMainBundle:Main:layout.html.twig' %}

{% block body %}
  <div data-ng-include="'/app/shared/menu/menu.html?{{ version }}'"></div>

  {% block content %}
    <div class="layout-wrapper view-container">
      <div data-ng-view="" class="view-frame">
      </div>
    </div>
  {% endblock %}

{% endblock %}


{% block scripts %}
  <!-- Configuration -->
  <script type="text/javascript">
    window.config = {
      "search": {
        "address": "{{ search_host }}",
        "index": "{{ search_index }}"
      },
      "sharingService": {
        "enabled": "{{ sharing_enabled }}",
        "address": "{{ sharing_host }}"
      },
      "siteTitle": "{{ site_title }}",
      "itkLog": {
        "version": "{{ itk_log_version }}",
        "errorCallback": "{{ itk_log_error_callback }}",
        "logToConsole": {{ itk_log_log_to_console }},
        "logLevel": "{{ itk_log_log_level }}"
      },
      "version": "{{ version }}"
    };
  </script>

  <script src="{{ asset('assets/build/assets.min.js?' ~ version) }}"></script>

  <!-- Socket io from the search node, to get right version -->
  <script src="/proxy/socket.io/socket.io.js"></script>

  <script src="{{ asset('assets/build/app.min.js?' ~ version) }}"></script>

{% endblock %}

