{% extends 'IndholdskanalenMainBundle:Main:layout.html.twig' %}

{% block body %}
    <div data-ng-include="'/partials/menu.html'"></div>

    {% block content %}
      <div class="layout-wrapper view-container">
        <div data-ng-view="" class="view-frame">
        </div>
      </div>
    {% endblock %}

{% endblock %}

{% block scripts %}
    <!-- Script imports -->
    <script src="{{ asset('js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('js/lib/angular.min.js') }}"></script>
    <script src="{{ asset('js/lib/angular-animate.js') }}"></script>
    <script src="{{ asset('js/lib/angular-route.js') }}"></script>

    <!-- Angular scripts -->
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/directives.js') }}"></script>
    <script src="{{ asset('js/routing.js') }}"></script>
    <script src="{{ asset('js/services/factory.js') }}"></script>
    <script src="{{ asset('js/services/templateFactory.js') }}"></script>
    <script src="{{ asset('js/services/slide.js') }}"></script>
    <script src="{{ asset('js/services/screen.js') }}"></script>
    <script src="{{ asset('js/services/channel.js') }}"></script>
    <script src="{{ asset('js/services/menu.js') }}"></script>
    <script src="{{ asset('js/controllers/menu.js') }}"></script>
    <script src="{{ asset('js/controllers/controllers.js') }}"></script>
    <script src="{{ asset('js/controllers/slide.js') }}"></script>
    <script src="{{ asset('js/controllers/overview.js') }}"></script>
    <script src="{{ asset('js/controllers/screen.js') }}"></script>
    <script src="{{ asset('js/controllers/channel.js') }}"></script>
{% endblock %}

