{% extends 'IndholdskanalenMainBundle:Main:layout.html.twig' %}

{% block body %}
  <div data-ng-include="'/app/shared/menu/menu.html'"></div>

  {% block content %}
    <div class="layout-wrapper view-container">
      <div data-ng-view="" class="view-frame">
      </div>
    </div>
  {% endblock %}

{% endblock %}


{% block scripts %}
  <!-- Imports -->
  <script src="{{ asset('assets/libs/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/libs/angular.min.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-animate.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-route.js') }}"></script>
  <script src="{{ asset('assets/libs/moment.min.js') }}"></script>
  <script src="{{ asset('assets/libs/es5-shim.min.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-file-upload.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-checklist-model.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-bootstrap-colorpicker.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-placeholder.js') }}"></script>
  <script src="{{ asset('assets/libs/angular-css-injector.js') }}"></script>
  <script src="{{ asset('assets/libs/datetimepicker.jquery.js') }}"></script>
  <script src="{{ asset('assets/libs/datetimepicker.js') }}"></script>
  <script src="{{ asset('assets/libs/locale_da.js') }}"></script>

  <!-- Socket io from the search node, to get right version -->
  <script src="/proxy/socket.io/socket.io.js"></script>

  <!-- Main app -->
  <script src="{{ asset('app/app.js') }}"></script>

  <!-- Configuration -->
  <script type="text/javascript">
    angular.module('ikApp').value('configuration', {
      "search": {
        "address": "{{ search_host }}",
        "index": "{{ search_index }}"
      },
      "sharingService": {
        "enabled": "{{ sharing_enabled }}",
        "address": "{{ sharing_host }}"
      },
      "logo": "{{ logo }}",
      "site_title": "{{ site_title }}"
    });
  </script>

  <!-- Routing -->
  <script src="{{ asset('app/routing.js') }}"></script>

  <!-- Filters -->
  <script src="{{ asset('app/shared/filters/activeEvents.js') }}"></script>
  <script src="{{ asset('app/shared/filters/reverseEvents.js') }}"></script>

  <!-- Services -->
  <script src="{{ asset('app/shared/services/mediaFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/templateFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/slideFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/screenFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/channelFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/userFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/searchFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/sharedSearchFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/sharedChannelFactory.js') }}"></script>
  <script src="{{ asset('app/shared/services/authHttpResponseInterceptor.js') }}"></script>

  <!-- Menu -->
  <script src="{{ asset('app/shared/menu/menuController.js') }}"></script>

  <!-- Pages -->
  <script src="{{ asset('app/pages/screen/screen.js') }}"></script>
  <script src="{{ asset('app/pages/sharedChannel/sharedChannelController.js') }}"></script>
  <script src="{{ asset('app/pages/sharedChannelOverview/sharedChannelOverviewController.js') }}"></script>
  <script src="{{ asset('app/pages/adminSharing/adminSharingController.js') }}"></script>
  <script src="{{ asset('app/pages/channel/channelController.js') }}"></script>
  <script src="{{ asset('app/pages/channelOverview/channelOverviewController.js') }}"></script>
  <script src="{{ asset('app/pages/mediaOverview/mediaOverviewController.js') }}"></script>
  <script src="{{ asset('app/pages/screenOverview/screenOverviewController.js') }}"></script>
  <script src="{{ asset('app/pages/mediaEdit/mediaEditController.js') }}"></script>
  <script src="{{ asset('app/pages/mediaUpload/mediaUploadController.js') }}"></script>
  <script src="{{ asset('app/pages/slideOverview/slideOverviewController.js') }}"></script>
  <script src="{{ asset('app/pages/slide/slideController.js') }}"></script>
  <script src="{{ asset('app/pages/slide/slideEditController.js') }}"></script>

  <!-- Elements -->
  <script src="{{ asset('app/shared/elements/sharedChannel/sharedChannelDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/sharedChannelOverview/sharedChannelOverview.js') }}"></script>
  <script src="{{ asset('app/shared/elements/channel/channelDirectives.js') }}"></script>
  <script src="{{ asset('app/shared/elements/channelOverview/channelOverviewDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/pager/pagerDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/delete/deleteDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/channelShare/channelShareDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/checklist/checklistDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/screen/screenDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/slideOverview/slideOverviewDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/slide/slideDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/slide/slideEditableDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/slide/sharedSlideDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/mediaOverview/mediaOverviewDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/mediaUpload/mediaUploadDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/thumb/thumbDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/autoGrow/autoGrowDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/includeReplace/includeReplaceDirective.js') }}"></script>
  <script src="{{ asset('app/shared/elements/controlPanel/control-panel.js') }}"></script>
  <script src="{{ asset('app/shared/elements/ngModal/ng-modal.js') }}"></script>

  <!-- Widgets -->
  <script src="{{ asset('app/shared/widgets/screenTemplatePickerWidget/screenTemplatePickerWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/textWidget/textWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/textAreaWidget/textAreaWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/numberWidget/numberWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/channelPickerWidget/channelPickerWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/sharedChannelPickerWidget/sharedChannelPickerWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/channelRemoverWidget/channelRemoverWidget.js') }}"></script>
  <script src="{{ asset('app/shared/widgets/regionPreviewWidget/regionPreviewWidget.js') }}"></script>

  <!-- Components -->
  <script src="{{ asset('app/shared/components/date/dateComponent.js') }}"></script>
{% endblock %}

