{% extends 'IndholdskanalenMainBundle:Main:layout.html.twig' %}

{% block body %}
  <div data-ng-include="'/partials/menu.html'"></div>

  {% block content %}
    <div class="layout-wrapper view-container">
      <div data-ng-view="" class="view-frame">
      </div>
    </div>
  {% endblock %}

{% endblock %}


{% block scripts %}
  <!-- Script imports -->
  <script src="{{ asset('js/lib/jquery.min.js') }}"></script>
  <script src="{{ asset('js/lib/angular.min.js') }}"></script>
  <script src="{{ asset('js/lib/angular-animate.js') }}"></script>
  <script src="{{ asset('js/lib/angular-route.js') }}"></script>

  <!-- Add ins -->
  <script src="{{ asset('js/lib/moment.min.js') }}"></script>
  <script src="{{ asset('js/lib/es5-shim.min.js') }}"></script>
  <script src="{{ asset('js/lib/angular-file-upload.js') }}"></script>
  <script src="{{ asset('js/lib/angular-checklist-model.js') }}"></script>
  <script src="{{ asset('js/lib/angular-bootstrap-colorpicker.js') }}"></script>
  <script src="{{ asset('js/lib/angular-placeholder.js') }}"></script>
  <script src="{{ asset('js/lib/angular-css-injector.js') }}"></script>

  <!-- Modules -->
  <script src="{{ asset('js/modules/datetime-picker/jquery.datetimepicker.js') }}"></script>
  <script src="{{ asset('js/modules/datetime-picker/datetime-picker.js') }}"></script>
  <script src="{{ asset('js/modules/locale/da.js') }}"></script>

  <!-- Socket io from the search node, to get right version -->
  <script src="/proxy/socket.io/socket.io.js"></script>

  <!-- Base -->
  <script src="{{ asset('js/app.js') }}"></script>

  <!-- Configuration -->
  <script type="text/javascript">
    angular.module('ikApp').value('configuration', {
      "search": {
        "address": "{{ search_host }}",
        "index": "{{ search_index }}"
      },
      "sharingService": {
        "enabled": "{{ sharing_enabled }}",
        "address": "{{ sharing_host }}"
      },
      "logo": "{{ logo }}"
    });
  </script>
  <script src="{{ asset('js/routing.js') }}"></script>

  <!-- Filters -->
  <script src="{{ asset('js/filters/activeEvents.js') }}"></script>
  <script src="{{ asset('js/filters/reverseEvents.js') }}"></script>

  <!-- Directives -->
  <script src="{{ asset('js/directives/helperDirectives.js') }}"></script>
  <script src="{{ asset('js/directives/pagerDirective.js') }}"></script>
  <script src="{{ asset('js/directives/slideDirectives.js') }}"></script>
  <script src="{{ asset('js/directives/channelDirectives.js') }}"></script>
  <script src="{{ asset('js/directives/screenDirectives.js') }}"></script>
  <script src="{{ asset('js/directives/mediaUploadDirectives.js') }}"></script>
  <script src="{{ asset('js/directives/slideOverviewDirective.js') }}"></script>
  <script src="{{ asset('js/directives/channelOverviewDirective.js') }}"></script>
  <script src="{{ asset('js/directives/mediaOverviewDirective.js') }}"></script>
  <script src="{{ asset('js/directives/deleteDirective.js') }}"></script>
  <script src="{{ asset('js/directives/channelShareDirective.js') }}"></script>
  <script src="{{ asset('js/directives/checklistDirective.js') }}"></script>
  <script src="{{ asset('js/directives/channelSharingOverviewDirective.js') }}"></script>
  <script src="{{ asset('js/directives/sharedChannelDirective.js') }}"></script>

  <!-- Services -->
  <script src="{{ asset('js/services/mediaFactory.js') }}"></script>
  <script src="{{ asset('js/services/templateFactory.js') }}"></script>
  <script src="{{ asset('js/services/slideFactory.js') }}"></script>
  <script src="{{ asset('js/services/screenFactory.js') }}"></script>
  <script src="{{ asset('js/services/channelFactory.js') }}"></script>
  <script src="{{ asset('js/services/userFactory.js') }}"></script>
  <script src="{{ asset('js/services/searchFactory.js') }}"></script>
  <script src="{{ asset('js/services/sharedSearchFactory.js') }}"></script>
  <script src="{{ asset('js/services/sharedChannelFactory.js') }}"></script>
  <script src="{{ asset('js/services/authHttpResponseInterceptor.js') }}"></script>

  <!-- Controllers -->
  <script src="{{ asset('js/controllers/slideOverviewController.js') }}"></script>
  <script src="{{ asset('js/controllers/screenOverviewController.js') }}"></script>
  <script src="{{ asset('js/controllers/channelOverviewController.js') }}"></script>
  <script src="{{ asset('js/controllers/mediaOverviewController.js') }}"></script>
  <script src="{{ asset('js/controllers/indexController.js') }}"></script>
  <script src="{{ asset('js/controllers/menuController.js') }}"></script>
  <script src="{{ asset('js/controllers/slideController.js') }}"></script>
  <script src="{{ asset('js/controllers/slideEditController.js') }}"></script>
  <script src="{{ asset('js/controllers/screenController.js') }}"></script>
  <script src="{{ asset('js/controllers/channelController.js') }}"></script>
  <script src="{{ asset('js/controllers/mediaUploadController.js') }}"></script>
  <script src="{{ asset('js/controllers/mediaEditController.js') }}"></script>
  <script src="{{ asset('js/controllers/channelSharingOverviewController.js') }}"></script>
  <script src="{{ asset('js/controllers/sharedChannelController.js') }}"></script>
  <script src="{{ asset('js/controllers/adminSharingController.js') }}"></script>

  <!-- Components -->
  <script src="{{ asset('components/ngModal/ng-modal.js') }}"></script>

{% endblock %}

