<header class="header">
    <div class="header--inner">
      <a href="/design/dashboard/index.php" class="logo js-logo" title="Aroskanalen"><i data-icon="filter-none" class="is-medium logo--icon"></i><span>OS2display</span></a>
      <nav class="nav js-nav">
        <a class="nav--link {{ isActive == 0 ? 'is-active' }}" href="{{ attribute(link, 'templates-dashboard') }}">Start</a>
        <a class="nav--link {{ isActive == 1 ? 'is-active' }}" href="{{ attribute(link, 'templates-slides-loading') }}">Slides</a>
        <a class="nav--link {{ isActive == 2 ? 'is-active' }}" href="{{ attribute(link, 'templates-channel-planning') }}">Kanaler</a>
        <a class="nav--link {{ isActive == 3 ? 'is-active' }}" href="{{ attribute(link, 'templates-screen-planning') }}">Skærme</a>
        <a class="nav--link {{ isActive == 4 ? 'is-active' }}" href="#">Medier</a>
        <a class="nav--link {{ isActive == 5 ? 'is-active' }}" href="{{ attribute(link, 'pages-admin-dashboard') }}">Admin</a>
      </nav>
    </div>
  </header>
  <div class="hamburger-menu-toggle js-toggle-modal js-menu-toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="hamburger-menu--overlay js-toggle-modal js-modal is-hidden">
    <nav class="hamburger-menu js-modal-dialog is-hidden">
      <div class="hamburger-menu--inner">
        <div class="hamburger-menu--links">
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Kanaler
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Slides
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Skærme
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Administration
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Deling
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Templates
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Søgning og indhold
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="/index.php" class="hamburger-menu--link">
              Style guide
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
