{% extends 'Os2DisplayAdminBundle:Main:layout.html.twig' %}

{% block stylesheets %}
  {% for file in assets.css %}
    <link rel="stylesheet" href="{{ file ~ '?' ~ version }}">
  {% endfor %}

  {# Import css files for templates. #}
  {% if templates is defined %}
    {% for template in templates %}
      <link rel="stylesheet" href="{{ template }}">
    {% endfor %}
  {% endif %}

  {{ parent() }}
{% endblock %}

{% block body %}
  <!-- Define applications HTML tags -->
  {% for key, app in apps %}
    {% if app.container is not defined or not app.container %}
      <div {% if app.class is defined %}class="{{ app.class }}"{% endif %} id="{{ key }}" {% if app.template is defined %}data-ng-include="'{{ app.template }}?{{ version }}'"{% endif %} {% if app.controller is defined %}data-ng-controller="{{ app.controller }}"{% endif %} >
      </div>
    {%  endif %}
  {% endfor %}

    <div class="content view-container">
      <div  class="content--inner">
        {% for key, app in apps %}
          {% if app.container is defined and app.container %}
            <div data-ng-view="" {% if app.class is defined %}class="{{ app.class }}"{% endif %} id="{{ key }}" {% if app.template is defined %}data-ng-include="'{{ app.template }}?{{ version }}'"{% endif %} {% if app.controller is defined %}data-ng-controller="{{ app.controller }}"{% endif %} >
            </div>
          {%  endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block body_attr %}class="is-page"{% endblock %}

{% block scripts %}
  <!-- Configuration -->
  <script type="text/javascript">
    window.config = {
      "search": {
        "address": "{{ search_host }}",
        "index": "{{ search_index }}"
      },
      "sharingService": {
        "enabled": "{{ sharing_enabled }}",
        "address": "{{ sharing_host }}"
      },
      "siteTitle": "{{ site_title }}",
      "itkLog": {
        "version": "{{ itk_log_version }}",
        "errorCallback": "{{ itk_log_error_callback }}",
        "logToConsole": {{ itk_log_log_to_console }},
        "logLevel": "{{ itk_log_log_level }}"
      },
      "version": "{{ version }}"
    };

    var OS2DISPLAY_CURRENT_USER = {{ user | raw }};
  </script>

  <script src="/proxy/socket.io/socket.io.js"></script>

  {% if app.environment == 'prod' %}
    {% for file in assets.production_js %}
      <script src="{{ file }}"></script>
    {% endfor %}
  {% else %}
    {% for file in assets.js %}
      <script src="{{ file }}"></script>
    {% endfor %}
  {% endif %}

  <script type="text/javascript">
    /**
    * Define the Angular applications. They needs to be defined before
    * loading the files using the applications.
    */
    {% for key, module in modules %}
      angular.module('{{ key }}', [ {% for dependency in module.dependencies | default([]) %}'{{ dependency }}'{% if not loop.last %}, {% endif %}{% endfor %} ]);
      angular.module('{{ key }}').config([
        '$httpProvider', function ($httpProvider) {
          'use strict';
          $httpProvider.interceptors.push('authHttpResponseInterceptor');
        }
      ]);
    {% endfor %}

    {% for key, app in apps %}
     angular.module('{{ key }}', [ {% for dependency in app.dependencies | default([]) %}'{{ dependency }}'{% if not loop.last %}, {% endif %}{% endfor %} ]);
     angular.module('{{ key }}').config([
       '$httpProvider', function ($httpProvider) {
         'use strict';
         $httpProvider.interceptors.push('authHttpResponseInterceptor');
       }
     ]);
    {% endfor %}
  </script>

  <!-- Bootstrap bus only services -->
  <span id="bootstrap" style="display:none"></span>

  <script type="text/javascript">
    angular.module('bootstrap', [{% for module in bootstrap.modules %}'{{ module }}'{% if not loop.last %}, {% endif %}{% endfor %} ]);
    angular.module('bootstrap')
    .run([{% for service in bootstrap.services %}'{{ service }}',{% endfor %} angular.noop]);
    angular.element(document).ready(function ready() {
      angular.bootstrap(document.getElementById('bootstrap'), ['bootstrap']);
    });

    /**
     * When the document is ready bootstrap the two applications.
     */
    angular.element(document).ready(function ready() {
      "use strict";
      {% for key, app in apps %}
      var {{ key }} = document.getElementById('{{ key }}');
      if ({{ key }}) {
        angular.bootstrap({{ key }}, ['{{ key }}']);
      }
      else {
        console.error('Unable to bootstrap {{ key }}. Missing HTML tag with id "{{ key }}"');
      }
      {% endfor %}
    });
  </script>

  {% if app.environment != 'prod' %}
    <!-- Angular modules -->
    {% for key, module in modules %}
      {% for file in module.files %}
        <script src="{{ asset(file ~ '?' ~ version) }}"></script>
      {% endfor %}
    {% endfor %}

    <!-- New angular applications -->
    {% for key, app in apps %}
      {% for file in app.files %}
        <script src="{{ asset(file ~ '?' ~ version) }}"></script>
      {% endfor %}
    {% endfor %}
  {% else %}
    <script src="{{ asset('assets/build/app.min.js?' ~ version) }}"></script>
  {% endif %}

{% endblock %}
